<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="add-reward">
  <div class="add-reward">
    <div class="box-shadow mb-3">
      <div class="row">
        <div class="col-12 side-icon">
          <span class="material-symbols-outlined">info</span>
          <span>{{ 'Basic_Info_Client' | translate }}</span>
        </div>
        <div class="col-12 row m-0 p-0">
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="RewardNameAr" />
              <label>{{ 'RewardNameAr' | translate }}</label>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="RewardNameEn" />
              <label>{{ 'RewardNameEn' | translate }}</label>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <p-dropdown [options]="typeList" optionLabel="value" optionValue="key"
                formControlName="type"></p-dropdown>
              <label>{{ 'reward_Type' | translate }}</label>
            </div>
          </div>


          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="Quattros" />
              <label>{{ 'quattros-number' | translate }}</label>
            </div>
          </div>

          <div>
            <app-img-control (onSelected)="OnSelectFile($event)" [fileInput]="fileInput"></app-img-control>
          </div>
        </div>
      </div>
    </div>




    <div class="col-xs-12 text-end mt-4">
      <p-button type="Submit" class="btn-primary" label="Save" [loading]="btnLoading"></p-button>
    </div>
  </div>
</form>

<p-toast key="toast"></p-toast>